<div *ngIf="isLoading" class="app-loader">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
  <p class="mt-2">Verificando sesión...</p>
</div>



<body *ngIf="!isLoading" class="app-background d-flex flex-column min-vh-100">

  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Contenido principal -->
  <main class="flex-fill w-100 p-0">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <app-footer></app-footer>

</body>