<div class="container my-5">
  <div class="perfil-container card mx-auto text-center p-4 shadow-sm border-0">

    <hr class="my-4">

    <!-- Últimas publicaciones -->
    <h3 class="fw-semibold mb-3">Mis últimas publicaciones</h3>

    <div *ngIf="publicaciones.length > 0; else sinPublicaciones">
      <div *ngFor="let pub of publicaciones" class="mini-post text-start mb-5">

        <!-- Usuario de la publicación -->
        <div class="d-flex align-items-center gap-3 mb-2">
          <img [src]="pub.usuarioId.imagenPerfil || '/icons/14.png'" 
                alt="Usuario" 
                class="rounded-circle" 
                width="40" height="40">
          <strong>{{ pub.usuarioId.nombreUsuario || 'Usuario desconocido' }}</strong>
        </div>


        <h5 class="fw-bold mb-2">{{ pub.titulo }}</h5>


        <!-- Mensaje -->
        <p class="text-muted mb-2">{{ pub.mensaje }}</p>

        <!-- Imagen si tiene -->
        <img [src]="pub.imagen || '/icons/default.png'" class="post-img">

        <!-- Comentarios -->
        <div *ngIf="pub.comentarios?.length" class="comentarios mt-2">
          <h6 class="fw-semibold small text-muted mb-1">Comentarios:</h6>
          <p *ngFor="let c of pub.comentarios" class="text-muted small mb-1">
            💬 {{ c.texto }}
          </p>
        </div>

        <hr>
      </div>
    </div>

    <ng-template #sinPublicaciones>
      <p class="text-muted fst-italic">Aún no realizaste publicaciones.</p>
    </ng-template>

  </div>
</div>


