<div class="container d-flex justify-content-center align-items-center position-relative">

  <!-- Spinner overlay -->
  <div *ngIf="loading" class="spinner-overlay d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="login-container bg-white p-4 rounded shadow-sm">

    <h1 class="text-center mb-3 text-primary fw-bold">Iniciar sesión</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Email / Usuario -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Email o usuario</label>
        <input type="text" class="form-control" formControlName="emailOrUsername" placeholder="Email o nombre de usuario" appAutofocus appResaltarInvalido>
        <div class="text-danger small mt-1"
          *ngIf="loginForm.get('emailOrUsername')?.touched && loginForm.get('emailOrUsername')?.invalid">
          Este campo es obligatorio
        </div>
      </div>

      <!-- Contraseña -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Contraseña</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" appResaltarInvalido>
        <div class="text-danger small mt-1"
          *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">
            Este campo es obligatorio
          </div>
          <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
            La contraseña debe tener al menos 8 caracteres, una mayúscula y un número.
          </div>
        </div>
      </div>

      <!-- Botón -->
      <button type="submit" class="btn w-100 text-white fw-semibold login-btn" appClickControl>
        {{ loading ? 'Ingresando...' : 'Ingresar' }}
      </button>

    </form>

    <p class="text-center mt-3 text-muted">
      ¿No tienes cuenta?
      <button (click)="register()" class="btn btn-link p-0 link-button" appClickControl>Registrarse</button>
    </p>

  </div>
</div>
