<div class="container">
    <h2>Publicaciones</h2>

    <div class="post" *ngFor="let post of [1,2,3]">
        <div class="post-header">
            <img src="https://i.pravatar.cc/50" alt="usuario">
            <div>
            <strong>Usuario {{ post }}</strong>
            <p class="time">Hace {{ post }} h</p>
            </div>
        </div>

        <p class="message">Esta es una publicación de ejemplo número {{ post }}.</p>

        <img class="post-img" *ngIf="post % 2 === 0" src="https://picsum.photos/600/300?random={{post}}" alt="foto">

        <div class="actions">
            <button>❤️ Me gusta</button>
            <button>💬 Comentar</button>
        </div>
    </div>

</div>