<div class="feed-background">
  <div class="feed-container">
    <h2 class="feed-title mb-4 text-center">Postea</h2>

    <!-- 🟢 Formulario nueva publicación -->
    <form [formGroup]="formPublicacion" (ngSubmit)="crearPublicacion()" class="new-post-form mb-4">
      <input formControlName="titulo" type="text" class="form-control" placeholder="Título">
      <textarea formControlName="mensaje" class="form-control" placeholder="Mensaje"></textarea>
      <input type="file" (change)="onFileChange($event)" class="form-control">
      <button type="submit" class="btn post-btn" [disabled]="loading">
        {{ loading ? 'Publicando...' : 'Publicar' }}
      </button>
    </form>

    <h2 class="feed-title mb-4 text-center">Publicaciones</h2>

    <div *ngIf="publicaciones.length > 0; else sinPosts">
      <div *ngFor="let pub of publicaciones" class="mini-post text-start mb-5">

        <!-- Usuario -->
        <div class="d-flex align-items-center gap-3 mb-2">
          <img [src]="pub.usuarioId.imagenPerfil || '/icons/14.png'"
               alt="Usuario"
               class="rounded-circle"
               width="40" height="40">
          <strong>{{ pub.usuarioId.nombreUsuario | MayusculaLetra }}</strong>
        </div>

        <!-- Título -->
        <h5 class="fw-bold mb-1">{{ pub.titulo | MayusculaLetra }}</h5>

        <!-- Fecha -->
        <small class="text-muted d-block mb-2">📅 {{ pub.createdAt | FormateoHora }}</small>

        <!-- Mensaje -->
        <p class="text-muted mb-2">{{ pub.mensaje | limitadorCaracteres:200 }}</p>

        <!-- Imagen -->
        <img [src]="pub.imagen " class="post-img" >

        <!-- Acciones -->
        <div class="actions d-flex gap-2 mt-2">
          <button type="button"
                  class="btn btn-sm"
                  [ngClass]="{
                    'btn-primary': yaLeDioLike(pub),
                    'btn-outline-primary': !yaLeDioLike(pub)
                  }"
                  (click)="toggleLike(pub)">
            ❤️ {{ pub.likes.length || 0 }}
          </button>

          <button type="button" class="btn btn-outline-secondary btn-sm">
            💬 Comentar
          </button>

          <button *ngIf="pub.usuarioId && (pub.usuarioId._id === usuarioLogueado?._id || pub.usuarioId._id === usuarioLogueado?.id)"
                  type="button"
                  class="btn btn-outline-danger btn-sm"
                  (click)="eliminarPublicacion(pub._id)">
            🗑 Eliminar
          </button>
        </div>

        <hr>
      </div>
    </div>

    <ng-template #sinPosts>
      <p class="text-center text-muted mt-4">Aún no hay publicaciones 😔</p>
    </ng-template>
  </div>
</div>

