<footer class="footer border-top shadow-sm bg-white py-3 mt-auto">
    <div class="container d-flex flex-wrap justify-content-between align-items-center text-center gap-3">
        <p class="mb-0 text-muted small">© 2025 Red Social UTN. Todos los derechos reservados.</p>
    
        <div class="d-flex gap-4 footer-social">
            <a href="https://github.com/Trkmic" target="_blank">
            <img src="icons/download.png" alt="GitHub" class="social-icon">
            </a>
            <a href="https://www.linkedin.com/in/ignacio-trkmic-5a797827a/" target="_blank">
            <img src="icons/logotipo-redondo-linkedin-aislado-fondo-blanco_469489-985.jpg" alt="LinkedIn" class="social-icon">
            </a>
        </div>
    </div>
</footer>